node_modules
dist

bin/.preview-*/
bin/*.js
bin/*.d.ts
tools/preview-renderer/target/
tools/preview-renderer/preview-renderer.jar
tools/preview-renderer/lib/
public/keycloak-upstream/
public/keycloak-dev-resources/resources-common/
public/fonts/
.vscode/*
!.vscode/extensions.json
.idea
