:root {
  --quickstart-primary-color: #0066cc;
  --quickstart-primary-color-dark: #0066cc;
  --quickstart-secondary-color: #6a6e73;
  --quickstart-logo-url: var(--keycloak-logo-url);
  --quickstart-bg-logo-url: var(--keycloak-bg-logo-url);
  --quickstart-logo-height: var(--keycloak-logo-height);
  --quickstart-logo-width: var(--keycloak-logo-width);
  --quickstart-text-primary-light: var(--pf-v5-global--Color--dark-100, #151515);
  --quickstart-text-primary-dark: var(--pf-v5-global--Color--light-100, #f0f0f0);
  --quickstart-text-secondary-light: var(--pf-v5-global--Color--dark-200, #4f5255);
  --quickstart-text-secondary-dark: var(--pf-v5-global--Color--light-200, #d2d2d2);
  --quickstart-control-border-radius-default: 0px;
  --quickstart-card-border-radius-default: 16px;
  --quickstart-card-shadow-default: none;
}
