:root {
  --quickstart-primary-color-light: #0066cc;
  --quickstart-primary-color-dark: #0066cc;
  --quickstart-primary-color: var(--quickstart-primary-color-light);
  --quickstart-secondary-color-light: #c0c0c0;
  --quickstart-secondary-color-dark: #c0c0c0;
  --quickstart-secondary-color: var(--quickstart-secondary-color-light);
  --quickstart-font-family: inherit;
  --quickstart-heading-font-family: inherit;
  --quickstart-logo-url: none;
  --quickstart-bg-logo-url: none;
  --quickstart-logo-height: 63px;
  --quickstart-logo-width: 300px;
  --quickstart-text-primary-light: #151515;
  --quickstart-text-primary-dark: #f0f0f0;
  --quickstart-text-secondary-light: #4f5255;
  --quickstart-text-secondary-dark: #d2d2d2;
  --quickstart-bg-color-light: transparent;
  --quickstart-bg-color-dark: transparent;
  --quickstart-bg-color: var(--quickstart-bg-color-light);
  --quickstart-bg-image: none;
  --quickstart-border-radius: 8px;
  --quickstart-card-shadow: none;
}

html.pf-v5-theme-dark,
html.kcDarkModeClass {
  --quickstart-primary-color: var(--quickstart-primary-color-dark);
  --quickstart-secondary-color: var(--quickstart-secondary-color-dark);
  --quickstart-bg-color: var(--quickstart-bg-color-dark);
}
